:root {
    --primary-color: brown;
    --secondary-color: black;

    --background-color: white;
}

* {
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    background-color: var(--background-color);
}

.title {
    text-align: center;

    font-size: 60pt;

    color: var(--primary-color);
}

.small-footer {
    text-align: center;

    font-size: 10pt;
}

.todos {
    width: 1024px;

    margin-left: 10%;
    margin-right: 10%;
}

.todos-input, .todo, .todos-footer {
    border: 1px solid var(--secondary-color);
}

.todos-input, .todo {
    min-height: 64px;
}

.todos-footer {
    height: 32px;
}

.todo, .todos-footer {
    /* Fix borders colliding */
    margin-top: -1px;
}

.todo {
    .check {
        width: 64px;
    }
    .text {
        width: 100%;
    }
    .clear {
        width: 64px;
    }
}

/* Basic flex containers */
.vertical-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

/* Classes for flex containers */
.flex-center {
    justify-content: center;
}

.flex-pad {
    padding-left: 32px;
    padding-right: 32px;
}

.flex-small-gap-dynamic {
    gap: 1%;
}

.flex-medium-gap {
    gap: 32px;
}

/* Buttons for tabbing */

.tab, .tab-focused {
    background-color: var(--background-color);

    cursor: pointer;

    --border-size: 1px;
}

.tab {
    border: none;

    /* Visual magic so the buttons don't jump around */
    margin-left: var(--border-size);
    margin-right: var(--border-size);
}

.tab:hover {
    margin-left: 0px;
    margin-right: 0px;
}

.tab-focused, .tab:hover {
    border: var(--border-size) solid var(--primary-color);
    border-radius: 5px;
}

/* Custom buttons */

.button-like-text {
    border: none;
    background-color: var(--background-color);

    cursor: pointer;
}

/* Other */

.hide {
    visibility: hidden;
}

.todo, #item-count {
    cursor: default;
}
