:root {
    --primary-color: brown;
    --secondary-color: black;
}

* {
    font-family: sans-serif;
}

.title {
    text-align: center;

    font-size: 60pt;

    color: var(--primary-color);
}

.small-footer {
    text-align: center;

    font-size: 10pt;
}

.todos {
    width: 1024px;

    margin-left: 10%;
    margin-right: 10%;
}

.todos-input, .todo, .todos-footer {
    border: 1px solid var(--secondary-color);
}

.todos-input, .todo {
    min-height: 64px;
}

.todos-footer {
    height: 32px;
}

.todo, .todos-footer {
    /* Fix borders colliding */
    margin-top: -1px;
}

/* Basic flex containers */
.vertical-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

/* Classes for flex containers */
.flex-center {
    justify-content: center;
}

.flex-pad {
    padding-left: 32px;
    padding-right: 32px;
}

.flex-small-gap-dynamic {
    gap: 1%;
}

.flex-medium-gap {
    gap: 32px;
}
